@import '../../global.scss';


.portfolio{
    
  background-color: $mainColor;
    
    display:flex;
    flex-direction:row;
    @include mobile{
      flex-direction: column;
    }
    

    .left {
      
        
        flex: 0.5;
        .imgContainer {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          // background-color: rgb(245, 179, 155);
          display: flex;
          align-items: center;
          justify-content: center;

          

          @include mobile {
            width: 20px;
            height: 20px;
          }

          img {
            // width: 25px;
            height:60px;
            // object-fit: contain;
            width:60px;

            // @include mobile {
            //   width: 15px;
            // }
          }
        }
        
        h1{
          color:white;

          margin-top: 150px;
          margin-bottom:30px;
          font-size:40px;
          display:flex;
          justify-content:center;
          
      }
      
        .skills {
          display: grid;
          grid-template-columns: repeat(2, 1fr); 
          gap: 20px;

          @include mobile{
            display:flex;
            flex-wrap:wrap;
          }

        }
      
        .category {
          background-color: #f0f0f0;
          padding: 15px;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          margin-bottom: 20px; /* Add margin between categories */

        }
      
        .category-title {
          font-weight: bold;
          margin-bottom: 10px;
          display:flex;
          
          justify-content:center;
          align-items:center;
        }
      
        .skill-list {

          list-style: none;
          padding: 0;
          margin: 0;
          display: grid;
          grid-template-columns: repeat(3, 2fr); /* Arrange skills in a 2x2 grid */
          gap: 10px;
        }
      
        .skill {
          margin-bottom: 5px;
        }
      }
      

    .right{
        flex: 0.5;
        // background-color:#008080;

        .imgContainer {
          width: 65px;
          height: 65px;
          border-radius: 50%;
          // background-color: rgb(245, 179, 155);
          display: flex;
          align-items: center;
          justify-content: center;

        //   @include mobile {
        //     width: 20px;
        //     height: 20px;
        //   }

          img {
            // width: 25px;
            height:65px;
            // object-fit: contain;
            width:65px;

            // @include mobile {
            //   width: 15px;
            // }
          }
        }
        
        
        align-items: center;
        justify-content: space-around;
        


        h1{
            color:white;
            margin-top:20px;
            display:flex;
            align-items:center;
            justify-content: center;
            font-size:40px;
            margin-bottom: 30px;
        }

        .cardContainer{
          display:flex;
          flex-direction: column;
          align-items:center;
          justify-content: center;

        }
    
        ul{
            margin:10px;
            padding:0;
            list-style:none;
    
            li{
                font-size:12px;
                margin:50px;
                padding:7px;
                border-radius:10px;
                cursor:pointer;
    
                &.active{
                    background-color:$mainColor;
                    color:white;
    
                }
    
            }
        }

    }

    
}