.app {
    height: 100vh;
    
    .sections {
      width: 100%;
      height: calc(100vh - 70px);
      background-color: lightsalmon;
      position: relative; /* Use absolute positioning within the stacking context */
      top: 70px;
      scroll-behaviour:'smooth';
      scroll-snap-type: y mandatory;
      scrollbar-width:none;//firefox
      & ::-webkit-scrollbar{
        display:none;
      }

      > *{
        width:100vw;
        height: calc(100vh - 70px);
        scroll-snap-align:start;



      }
      
    }
  }
  
  